<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>layout-name</key>
		<string>alpha</string>
		<key>rows</key>
		<array>
			<dict>
				<key>layout-mode</key>
				<string>auto</string>
				<key>left</key>
				<array/>
				<key>centre</key>
				<array>
					<dict>
						<key>code</key>
						<string>Q</string>
					</dict>
					<dict>
						<key>code</key>
						<string>W</string>
					</dict>
					<dict>
						<key>code</key>
						<string>E</string>
					</dict>
					<dict>
						<key>code</key>
						<string>R</string>
					</dict>
					<dict>
						<key>code</key>
						<string>T</string>
					</dict>
					<dict>
						<key>code</key>
						<string>Y</string>
					</dict>
					<dict>
						<key>code</key>
						<string>U</string>
					</dict>
					<dict>
						<key>code</key>
						<string>I</string>
					</dict>
					<dict>
						<key>code</key>
						<string>O</string>
					</dict>
					<dict>
						<key>code</key>
						<string>P</string>
					</dict>
				</array>
				<key>right</key>
				<array/>
			</dict>
			<dict>
				<key>layout-mode</key>
				<string>auto</string>
				<key>left</key>
				<array/>
				<key>centre</key>
				<array>
					<dict>
						<key>code</key>
						<string>A</string>
					</dict>
					<dict>
						<key>code</key>
						<string>S</string>
					</dict>
					<dict>
						<key>code</key>
						<string>D</string>
					</dict>
					<dict>
						<key>code</key>
						<string>F</string>
					</dict>
					<dict>
						<key>code</key>
						<string>G</string>
					</dict>
					<dict>
						<key>code</key>
						<string>H</string>
					</dict>
					<dict>
						<key>code</key>
						<string>J</string>
					</dict>
					<dict>
						<key>code</key>
						<string>K</string>
					</dict>
					<dict>
						<key>code</key>
						<string>L</string>
					</dict>
				</array>
				<key>right</key>
				<array/>
			</dict>
			<dict>
				<key>layout-mode</key><string>auto</string>
				<key>left</key><array />
				<key>centre</key>
				<array>
					<dict><key>code</key><string>SHL</string></dict>
					<dict><key>code</key><string>Z</string></dict>
					<dict><key>code</key><string>X</string></dict>
					<dict><key>code</key><string>C</string></dict>
					<dict><key>code</key><string>V</string></dict>
					<dict><key>code</key><string>B</string></dict>
					<dict><key>code</key><string>N</string></dict>
					<dict><key>code</key><string>M</string></dict>
					<dict><key>code</key><string>DEL</string></dict>
				</array>
				<key>right</key><array />
			</dict>
			<dict>
				<key>layout-mode</key><string>auto</string>
				<key>left</key><array />
				<key>centre</key>
				<array>
					<dict><key>code</key><string>RUNSTOP</string></dict>
					<dict><key>code</key><string>COMMODORE</string></dict>
					<dict><key>code</key><string>SPACE</string></dict>
					<dict><key>code</key><string>PERIOD</string></dict>
					<dict><key>code</key><string>COMMA</string></dict>
					<dict><key>code</key><string>RET</string></dict>
				</array>
				<key>right</key><array />
			</dict>
		</array>
	</dict>
	<dict>
		<key>layout-name</key>
		<string>numeric</string>
		<key>rows</key>
		<array>
			<dict>
				<key>layout-mode</key><string>auto</string>
				<key>left</key><array/>
				<key>centre</key>
				<array>
					<dict><key>code</key><string>EXCLAMATION</string></dict>
					<dict><key>code</key><string>DBLQUOTE</string></dict>
					<dict><key>code</key><string>NUMBERSIGN</string></dict>
					<dict><key>code</key><string>DOLLAR</string></dict>
					<dict><key>code</key><string>PERCENT</string></dict>
					<dict><key>code</key><string>AMPERSAND</string></dict>
					<dict><key>code</key><string>QUOTE</string></dict>
					<dict><key>code</key><string>OPENPAREN</string></dict>
					<dict><key>code</key><string>CLOSEPAREN</string></dict>
					<dict><key>code</key><string>DIVIDE</string></dict>
				</array>
				<key>right</key><array/>
			</dict>
			<dict>
				<key>layout-mode</key><string>auto</string>
				<key>left</key><array/>
				<key>centre</key>
				<array>
					<dict><key>code</key><string>N1</string></dict>
					<dict><key>code</key><string>N2</string></dict>
					<dict><key>code</key><string>N3</string></dict>
					<dict><key>code</key><string>N4</string></dict>
					<dict><key>code</key><string>N5</string></dict>
					<dict><key>code</key><string>N6</string></dict>
					<dict><key>code</key><string>N7</string></dict>
					<dict><key>code</key><string>N8</string></dict>
					<dict><key>code</key><string>N9</string></dict>
					<dict><key>code</key><string>N0</string></dict>
				</array>
				<key>right</key><array/>
			</dict>
			<dict>
				<key>layout-mode</key><string>auto</string>
				<key>left</key><array/>
				<key>centre</key>
				<array>
					<dict><key>code</key><string>LESSTHAN</string></dict>
					<dict><key>code</key><string>PLUS</string></dict>
					<dict><key>code</key><string>MINUS</string></dict>
					<dict><key>code</key><string>POUND</string></dict>
					<dict><key>code</key><string>AT</string></dict>
					<dict><key>code</key><string>ASTERISK</string></dict>
					<dict><key>code</key><string>EQUALS</string></dict>
					<dict><key>code</key><string>QUESTION</string></dict>
					<dict><key>code</key><string>DEL</string></dict>
				</array>
				<key>right</key>
				<array>
				</array>
			</dict>
			<dict>
				<key>layout-mode</key><string>auto</string>
				<key>left</key><array/>
				<key>centre</key>
				<array>
					<dict><key>code</key><string>RUNSTOP</string></dict>
					<dict><key>code</key><string>GREATERTHAN</string></dict>
					<dict><key>code</key><string>SPACE</string></dict>
					<dict><key>code</key><string>PERIOD</string></dict>
					<dict><key>code</key><string>COMMA</string></dict>
					<dict><key>code</key><string>RET</string></dict>
				</array>
				<key>right</key><array />
			</dict>
		</array>
	</dict>
	<dict>
		<key>layout-name</key><string>extended</string>
		<key>rows</key>
		<array>
			<dict>
				<key>layout-mode</key><string>column</string>
				<key>column-widths</key>
				<array>
					<integer>7</integer>
					<integer>88</integer>
					<integer>15</integer>
					<integer>63</integer>
					<integer>15</integer>
					<integer>124</integer>
				</array>
				<key>columns</key>
				<array>
					<array />
					<array>
						<dict><key>code</key><string>CLEAR</string></dict>
						<dict><key>code</key><string>INSERT</string></dict>
					</array>
					<array />
					<array>
						<dict><key>code</key><string>CUP</string></dict>
						<dict><key>code</key><string>CDN</string></dict>
					</array>
					<array />
					<array>
						<dict><key>code</key><string>F1</string></dict>
						<dict><key>code</key><string>F2</string></dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>layout-mode</key><string>column</string>
				<key>column-widths</key>
				<array>
					<integer>7</integer>
					<integer>88</integer>
					<integer>15</integer>
					<integer>63</integer>
					<integer>15</integer>
					<integer>124</integer>
				</array>
				<key>columns</key>
				<array>
					<array />
					<array>
						<dict><key>code</key><string>HOM</string></dict>
						<dict><key>code</key><string>DEL</string></dict>
					</array>
					<array />
					<array>
						<dict><key>code</key><string>CLT</string></dict>
						<dict><key>code</key><string>CRT</string></dict>
					</array>
					<array />
					<array>
						<dict><key>code</key><string>F3</string></dict>
						<dict><key>code</key><string>F4</string></dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>layout-mode</key><string>column</string>
				<key>column-widths</key>
				<array>
					<integer>7</integer>
					<integer>88</integer>
					<integer>15</integer>
					<integer>63</integer>
					<integer>15</integer>
					<integer>124</integer>
				</array>
				<key>columns</key>
				<array>
					<array />
					<array />
					<array />
					<array>
						<dict><key>code</key><string>RESTORE</string></dict>
					</array>
					<array />
					<array>
						<dict><key>code</key><string>F5</string></dict>
						<dict><key>code</key><string>F6</string></dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>layout-mode</key><string>column</string>
				<key>column-widths</key>
				<array>
					<integer>7</integer>
					<integer>88</integer>
					<integer>15</integer>
					<integer>63</integer>
					<integer>15</integer>
					<integer>124</integer>
				</array>
				<key>columns</key>
				<array>
					<array />
					<array>
						<dict><key>code</key><string>RUNSTOP</string></dict>
					</array>
					<array />
					<array>
						<dict><key>code</key><string>TOGGLE_SPEED</string></dict>
					</array>
					<array />
					<array>
						<dict><key>code</key><string>F7</string></dict>
						<dict><key>code</key><string>F8</string></dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
